body {
	padding-top: 60px;
	font-family: sans-serif;
}

.thumbnail {
	height:400px;
	word-wrap:break-word;
}

.thumbnail-img {
	max-height:200px;
}

.thumb {
	display: block;
 	margin-left: auto;
  	margin-right: auto;
	height:100px;
	width: 100px;
}

.title,
.description{
	margin-top: 20px;
}

.profile {
	background-color: azure;
}

.bound {
	text-align: center;
	padding: 5px;
	border: 1px solid #ddd;
}